
* {
	-webkit-user-select: none;
}
.progress .bar {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}​
input {
	-webkit-user-select: text;
}

div.container-toolbar {
	background-color: white;
	padding: 20px;
	border-radius: 8px;
}

#tools {
	position: absolute;
	left: 300px;
	top: 100px;	
}

html {
	background-color: #333333;
}

div.tab-content {
	background-color: white;	
}

body, #main {

	background-color: #222222;
}

canvas#pokeCanvas {
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	display:block;
}
